body {
  max-width: 1200px;
  max-height: 780px;
  background-color: black;
}
.field {
  max-width: 80px;  
  text-align: center;
}
.timer {
  margin: 0 auto;
  padding-top: 10%;
}
.timer {
  display: flex;
  max-width: 400px;
  justify-content: space-between; 
}
.value {   
  font-size: 60px;
}
.label {  
  font-size: 20px;
  text-transform: uppercase;  
}
.green {  
  color: green;
}
.blue {
  color: blue;
}
.pink {
  color: palevioletred;
}
.red {
  color: red;
}